/* Tablets und kleinere Bildschirme */
@media (max-width: 768px) {
  body {
    font-size: 14px;
    overflow-x: hidden;
  }

  header .burger-menu {
    display: block;
  }

  header .navigation ul {
    display: none;
    flex-direction: column;
    gap: 8px;
  }
  header .navigation ul.active {
    display: flex;
    background: var(--primary-3);
    padding: 10px;
  }

  .card {
    max-width: 600px;
    margin: 15px auto;
  }

  footer {
    font-size: 12px;
  }
}

/* Smartphones */
@media (max-width: 480px) {
  body {
    font-size: 12px;
  }

  header {
    padding: 8px;
  }

  .main-section {
    padding: 10px;
  }

  .card {
    max-width: 400px;
  }

  .image-placeholder {
    height: 120px;
  }

  footer {
    font-size: 11px;
  }
}
